<html>

<head>
    <style>
        .demo {
            display: inline-block;
            border: 1px solid;
            border-radius: 10px;
            padding: 15px 15px 15px 15px;
            color: white;
            background-color: #CF2468;
            text-align: center;
            font-size: 18px;
            width: 400px;
        }
    </style>
</head>
<body>

    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
        <tr>
            <td align="center" valign="top" class="ContentHolder">
                <div id="Content">
                    Hello, <b>
                        <%=Name%>
                    </b><br />
                    <p>You’re receiving this email due to a reset password action you requested.<br />
                        Click on following link to reset your password:</p>
                    <div style="text-align:center; margin-top: 15px; margin-bottom: 15px; width: 100% !important;">
                        <button class="demo"><a href="<%=Link%>" style="color: white; text-decoration: none;"> Reset
                                Password</a></button>
                    </div>
                    <p>This email is an automated response to your password request.</p>

                </div>
            </td>
        </tr>
    </table>
</body>

</html>